html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template: 130px 1fr / 250px 1fr;
  min-width: 950px;
}

.sidebar {
  padding: 1rem;
  background-color: rgb(41, 110, 212);
  grid-area: 1 / 1 / 3 / 2;
  color: rgb(255, 255, 255);
}

.logo {
  font-size: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem
}

.logo img {
  height: 4rem;
}

.sidebar li {
  font-size: 2rem;
  list-style: none;
  padding-left: 1rem;
}

.sidebar-icon,
.header-icon,
.card-icons{
  height: 2rem;
}

.sidebar-item {
  display: flex;
  gap: 2rem;
  padding: 1ch 0px;
}

.support,
.nav {
  padding-top: 4rem;
}

.sidebar img {
  filter: invert();
}

.header {
  grid-area: 1 / 2 / 2 / -1;
  display: grid;
  grid-template-rows: 60px 1fr;
  box-shadow: 0px 1rem 2rem -2rem;
  z-index: 1;
}

.header .icon {
  height: 2rem;
}

.search-bar,
.profile-details {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar {
  flex: 1
}

.header-top {
  display: flex;
}

input[type*="text"] {
  background-color: rgb(224, 223, 223);
  border: none;
  height: 2.5rem;
  border-radius: 1.5rem;
}

.profilepic {
  border-radius: 50%;
  height: 4rem
}

.profile-details {
  font-size: 1.6rem;
  gap: 3rem;
  padding-right: 8rem;
}

.search-bar input {
  flex-grow: 1;
  max-width: 750px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom button {
  padding: 1rem 3rem;
  border-radius: 2rem;
  width: 100px;
  border: none;
  background-color: rgb(41, 110, 212);
  color: white;
}

.btn-container {
  display: flex;
  gap: 2rem;
  padding-right: 7rem;
  flex-wrap: wrap;
}

.header-bottom img {
  height: 6rem;
  margin-left: 3rem;
}

.greeting {
  flex: 1;
  padding-left: 2rem;
  font-size: 1.6rem;
}

.main-content {
  background-color: rgb(224, 223, 223);
  display: grid;
  grid-template: 2rem 1fr / 1fr 300px;
  padding: 2rem 1.6rem;
  gap: 1rem;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  grid-area: 2 / 1 / 4 / 2;
  margin-right: 2rem;
}

.announcement-col {
  grid-area: 2 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  
}

.announcement-holder,
.trending-holder {
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
}

.announcement-holder {
  flex: 1;
  align-items: center;
}

.card {
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  padding: 4rem 2rem;
  border-left: 5px solid gold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-buttons {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.proj-header {
  padding-bottom: 2rem;
}

.announ-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.announcement-holder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.announcement {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middle-announcement {
  border-top: 1px solid hsl(0, 0%, 60%);
  border-bottom: 1px solid hsl(0, 0%, 60%);
  padding: 1rem 0rem;
}

.trend-super {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.trend-super h2{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.trending-holder{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 2rem;
}

.trend img {
  height: 4rem;
}

.trend {
  display: flex;
  align-items: center;
}

.announcement p,
.trend p {
  font-size: 1.2rem;
}